/* You can add global styles to this file, and also import other style files */

@import '@angular/cdk/overlay-prebuilt.css';


@import "../../../projects/ngx-mat-loading/ngx-mat-loading.css";

html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.my-loading {
  border: solid 4px orangered;
}
